* {
    padding: 0px;
    margin: 0px;
    font-family: Century Gothic;
}

body {
    background: url(imagen/imagen1.jpeg);
}

.home {
    display: flex;
    flex-wrap: wrap;
}

.in-flex {
    flex: 1;
    min-width: 250px;
    margin: 25px;
}

.in-flex:first-child {
    flex: 2;
    padding: 25px;
    background: url(imagen/imagen2.jpg);
    margin: 20px;
    margin-bottom: 0px;
}

.in-flex div {
    padding: 25px;
    background: url(imagen/imagen2.jpg);
    margin: 25px;
}